# Virtual environments
.venv/

# Visual Studio
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# PyCharm
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]